<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Template</title>
</head>
<body>
    <h2>My Table</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Emmanuel</td>
                <td>leakono@gmail.com</td>
                <td>0113535094</td>
                <td>Moringa School</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
